* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    font-size: 62.5%;
}

header{
    background-color: #F0FBFF; 
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 710px;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 45px 45px 60px;
}
.Content {
    display: flex;
    padding: 0px 0px 0px 45px;
    height: 500px;
    width: auto; 
}

.Conteiner_interior{
display: flex;
flex-direction: column;
justify-content: center;
}


/* .image_two{
    display: flex;
    justify-content: end;
    
}

.image_two img {
    width: 720px;
    height: auto;
    margin: 10px;
    padding: 10px;
} */

main{
    background-color: rgb(255, 0, 0);
    
}

.first_button{
    display: flex;
    justify-content: flex-end;
    
}

.first_button button {
    background-color: rgb(255, 255, 255) ;
    border-radius: 10rem;
    width: 180px;
    box-shadow: 0px 2px 1px;
    border: none;
}



.second_button button {
    background-color: #FE52C0;
    color: white;
    border-radius: 10rem;
    width: 200px ;
    height: 40px;
}

.third_button button {
    background-color: #FE52C0;
    color: white;
    border-radius: 10rem;
    width: 300px ;
    height: 40px;
}


footer{
    background-color: #00252E ;
    color: white;
}