* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root{
    font-size: 62.5%;
}

body{
    background-color: #F0FBFF;
    background-image: url(/images/bg-hero-desktop.svg);
    background-position: center top ;
    background-repeat:no-repeat;
}


nav{
    
}

main{
    background-color: red;
    
}

.first_button{
    display: flex;
    justify-content: flex-end;
}

.first_button button {
    background-color: rgb(255, 255, 255) ;
    border-radius: 10rem;
    width: 120px;
}



.second_button button {
    background-color: #FE52C0;
    color: white;
    border-radius: 10rem;
    width: 200px ;
    height: 40px;
}

.third_button button {
    background-color: #FE52C0;
    color: white;
    border-radius: 10rem;
    width: 300px ;
    height: 40px;
}


footer{
    background-color: #00252E ;
    color: white;
}